FRONTEND_ORIGIN="http://localhost:5173"
PORT=4000

OPENMETEO_URL="https://api.open-meteo.com/v1/forecast"

ISOLAR_CLOUD_URL="https://gateway.isolarcloud.eu/openapi"
ISOLAR_CLOUD_APPKEY=""
ISOLAR_SECRET_KEY=""